*{
	scroll-behavior: smooth;
}
body{
	font-family: "Pirata One";
	color: #5a2ca0;
	background-color: #381552;
	overflow: hidden;
}
.page{
	height: 100vh;
	width: 100vw;
	text-align: center;
}
#p2{
	padding-top: 18vh;
}
.a{
	position: absolute;
	width: 100vw;
	height: 100vh;
}
.img{	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slider{
	width: 101%;
	height: 100%;
	overflow: hidden;
	position: relative;

}
.slides{
	width: 200%;
	height: 120%;
	display: flex;
	position: absolute;
	top: -9vh;
	left: 0;
	animation: slide 25s infinite;
	animation-fill-mode: forwards;
	transform: translateX(15%);
	animation-direction: alternate;
}
.slide{
	width: calc(100%/2);
	text-align:center;
	height: 100%;
}
h2{
	margin: 0;
	font-size: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
@keyframes slide{
	0%{
		transform:translateX(15%);
	}
	50%{
		transform:translateX(-60%);
	}
	100%{
		transform:translateX(15%);
	}
}
.navbar {
    padding: -5vh;
    font-size: 5vh;
    position:fixed;
    top: -9vh;
    left: 0vw;
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
   transition: top 0.5s cubic-bezier(0, 0, 0, 1);
    z-index: 999999999999;
}
.navbar:hover{
    top:0vw;
}
.nav{
    font-size: 5vh;
    left: 0vw;
    height: 12vh;
    width: 100vw;
    background-color: #110f13;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

a{
	color: #5a2ca0;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

a:active{
	text-decoration: none;
}
.arrow{
	font-family: "Pirata One";
	font-size: 10vh;
	width: 100vw;
	text-align: center;
}
.logo{
	box-sizing: border-box;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #5a2ca0;
	border-width: 1.5vh;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	position: absolute;
	font-size: 35vh;
	color: #000;
	flex-direction: row;
	max-width: 90vw;
}
